*~
*.beam
*.bup
*.log
*.dump
*.pyc
*.swp
*.so
*/db/*
*.config

*/ebin/*.app
*/ebin/*.ebin
*/cbin/*
*/js*/source/script
*/js*/source/script/*
*/js*/cache/*
*/js*/cache
mochiweb/doc/*

web/js/build

web/static/data
web/static.old/data
