
#game-container{
    float:right;
    top: -10px;
	min-width: 244px; 
	padding-left: 10px;
	vertical-align: top;
	display: table-cell;
    position: relative;
}

#game-container-home-index{
	min-width: 244px; 
	padding-left: 10px;
	vertical-align: top;
	display: table-cell;
    position: relative;
}

#game-top{
	background-color: #1e8dc6;
	min-width: 244px; 
	min-height: 33px; 
	margin-top: 18px;
}

#game-body{
	width: 240px; 
	height: 400px;
	position: relative;
	top: -30px;
	left: 3px;
}

#game-body img{
	border: #0077c0 1px solid;
}